<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <style>
    body {
      background: url("assets/images/bgd3.jpg");
      background-repeat: no-repeat;
      background-position: 90px 7%;
      background-size: 1200px 400px;
    }
  </style>
</head>

<body class="lime lighten-5">
  <ul id="userdrop" class="dropdown-content">
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Sign Out</a></li>
  </ul>
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper">
      <a id="logo" href="#" class="left brand-logo">More-Recipes</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
            <i class="material-icons">add</i></a></li>
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
                <i class="material-icons">star_border</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="userdrop">Username<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Add</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="userdrop">Username<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="container" style="width:100%; margin: 0 auto;">
    <h5 class="center-align grey-text text-lighten-4" style="margin-top:70px; margin-bottom:50px;"> ADD A NEW RECIPE </h5>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card z-depth-2">
          <span class="card-title col s3 offset-s5 teal-text" style="margin-top:20px; margin-bottom:10px;"> RECIPE </span>
          <div class="row">
            <div class="card-image col s4 offset-s4">
              <img src="assets//images/noimg.png" alt="" style="height:230px; width:230px">
              <div class="file-field input-field">
                <div class="btn-floating btn-mediium waves-effect waves-light blue">
                  <i class="material-icons">photo</i>
                  <input type="file">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-content col s6 offset-s3">
              <form>
                <div class="input-field ">
                  <label for="recname"> Recipe Name: </label>
                  <input type="text" id="recname"> </input>
                </div>
                <div class="input-field ">
                  <label for="time"> Prep Time: </label>
                  <input type="text" id="time"> </input>
                </div>
                <div class="input-field ">
                  <label for="desc"> Description: </label>
                  <input type="text" id="desc"> </input>
                </div>
                <div class="input-field">
                  <select>
                      <option value="" disabled selected>Choose your option</option>
                      <option value="1">Appetizer</option>
                      <option value="2">Main</option>
                      <option value="3">Dessert</option>
                      <option value="4">Drink</option>
                    </select>
                  <label>Recipe Type</label>
                </div>
                <div class="input-field ">
                  <label for="ingred"> Ingredients: </label>
                  <textarea id="ingred" class="materialize-textarea"></textarea>
                </div>
                <div class="input-field ">
                  <label for="instruct"> Instructions: </label>
                  <textarea id="instruct" class="materialize-textarea"></textarea>
                </div>
                <div class="right-align">
                  <button class="btn grey" type="button"> Submit </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="teal-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
