<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="amber lighten-5">
  <nav class="light-pink lighten-6" role="navigation">
    <div class="nav-wrapper "> <a id="logo" href="#" class="left brand-logo">More-Recipes</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
            <i class="material-icons">add</i></a></li>
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
                <i class="material-icons">star_border</i></a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/images/recipe.jpg" class="responive-img">
            <div class="caption bottom left-align">
              <h4 class="blue-text" style="margin-top:215px;"> Sign Up For Free! </h4>
            </div>
          </li>
          <li>
            <img src="assets/images/food1.jpg" class="responive-img">
            <div class="caption left-align">
              <h4 class="light grey-text text-lighten-3 "> Come indulge your taste buds </h4>
            </div>
          </li>
          <li>
            <img src="assets/images/food2.jpg" class="responive-img">
            <div class="caption center-align">
              <h4 class=" light grey-text text-lighten-3"> Share your culinary talent </h4>
            </div>
          </li>
          <li>
            <img src="assets/images/food3.jpg" class="responive-img">
            <div class="caption right-align">
              <h4 class="light blue-text"> Yummy treats for your meets </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="width:100%; margin: 0 auto;">
    <br> <br>
    <a href="#">
      <h5 class="light pink-text"> POPULAR RECIPES </h5>
    </a>
    <div class="row">
      <div class="categories-container">
        <ul id="favelist" class="categories ">
          <li id="flist1">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Baked Alaska </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="flist2">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Stir Fry Shrimp </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="flist3">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Baked Alaska </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="flist4">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Stir Fry Shrimp </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="flist5">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Baked Alaska </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="flist6">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Stir Fry Shrimp </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <br>
    <a href="#">
      <h5 class="light pink-text"> HOT NEW RECIPES </h5>
    </a>
    <div class="row">
      <div class="categories-container">
        <ul id="hotlist" class="categories">
          <li id="hlist1">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class=" black-text"> Jollof Rice </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="hlist2">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Goat Peppersoup </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
          </li>
          <li id="hlist3">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Jollof Rice </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="hlist4">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Goat Peppersoup </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="hlist5">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Jollof Rice </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="hlist6">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Goat Peppersoup </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="width:100%; margin: 0 auto;">
    <br>
    <a href="#">
      <h5 class="light pink-text"> ALL RECIPES </h5>
    </a>
    <div class="row">
      <div class="categories-container">
        <ul id="alllist" class="categories">
          <li id="alist1">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Baked Alaska </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="alist2">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Goat Peppersoup </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="alist3">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text"> Stir Fry Shrimp </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="alist4">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Jollof Rice </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="alist5">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/card1.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Baked Alaska </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="alist6">
            <div class="col s2 offset-1">
              <div class="card grey lighten-3">
                <div class="card-image">
                  <img src="assets/images/nig2.jpg" class="responsive-img" style="height:130px">
                  <span class="card-title"> <p style="font-size:22px" class="black-text">  Goat Peppersoup </p></span>
                  <div class="card-action">
                    <a href="#"> Recipe </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <footer class="page-footer light-pink">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="pink-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
