<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />


</head>

<body class="lime lighten-5">
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper"> <a id="logo" href="#" class="left brand-logo">More-Recipes</a>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
            <i class="material-icons">add</i></a></li>
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
                <i class="material-icons">star_border</i></a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <div class="container z-depth-4">
    <div class="row" style="margin-top:50px;">
      <div class="col s2 offset-s1">
        <div class="card" style="width:230px; height:230px;">
          <div class="card-image">
            <img src="assets/images/card.jpeg" class="materialboxed responsive-img">
          </div>
        </div>
      </div>
      <div class="col s8" style="margin-left:30px;">
        <div class="hreview-aggregate">
          <div class="row" style="margin-bottom:0px; margin-top:70px;">
            <div class="col s12 push-s1">
              <h5 id="title" style="margin-bottom:0px; margin-top:0px;"> Baked Alaska </h5>
            </div>
            <div class="col s12 push-s1">
              <p style=" margin-top:0px;"> Posted by <a id="uname" href="#"> Username </a> </p>
            </div>
            <div class="col s12 push-s1">
              <p id="desc" style=" margin-top:0px;">Recipe description </p>
            </div>
            <div class="col s10 push-s1">
              <p style=" margin-bottom:0px;"> Like this Recipe? Add to your favourites
                <a class="btn-floating btn-small waves-effect waves-light yellow">
                     <i class="material-icons">star_border</i></a>
              </p>
            </div>
            <div class="col s5 push-s1">
              <a href="#rev" style="margin-top:0px;" class="section scrollspy"> Reviews </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s2 pull-s2">
          <a class="btn-floating waves-effect waves-light blue">
                <i class="material-icons">thumb_up</i></a>
          <p id="likes" class="col s1 push-s5">3</p>
        </div>
        <div class="col s2 pull-s2">
          <a class="btn-floating waves-effect waves-light blue">
                  <i class="material-icons">thumb_down</i></a>
          <p id="likes" class="col s1 push-s5">1</p>
        </div>
      </div>
    </div>

    <div class="container">
      <h5 class="left-align" style="margin-left:50px"> Recipe </h5>
      <div id="time" class="col s6 ">
        <p style="font-size:18px; margin-bottom:0px;"> Prep Time: </p>
        <p id="preptime" style="margin-top:0px;"> Time </p>
      </div>
      <div id="Ing" class="col s6 ">
        <p style="font-size:18px; margin-left:50px"> Ingredients: </p>
        <p id="ingred"> Ingredients info </p>
      </div>
      <div id="Ins" class="col s6">
        <p style="font-size:18px; margin-left:50px"> Instructions: </p>
        <p id="instruct"> Instruction info </p>
      </div>
    </div> <br>
  </div>


  <div class="container">
    <br> <br>
    <h5 id="rev" class="blue-text"> Reviews </h5>
    <div class="row">
      <div class="col s8">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="assets/images/profilepic.png" alt="" class="circle">
            <span class="title"> <a href="#"> Title </a></span>
            <p id="r-cmt"> User comment... </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <p> Add a comment to review this recipe </p>
    <div class="row">
      <form class="col s6">
        <div class="input-field ">
          <label for="cmt"> Review: <i class="material-icons left">mode_edit</i></label>
          <textarea id="cmt" class="materialize-textarea " placeholder="Comment"></textarea>
        </div>
        <div class="right-align">
          <button class="btn grey" type="button"> Review </button>
        </div>
      </form>
    </div>
  </div>



  <footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="teal-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
