<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="amber lighten-5">
  <nav class="light-pink lighten-6" role="navigation">
    <div class="nav-wrapper"> <a id="logo" href="#" class="left brand-logo">More-Recipes</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
            <i class="material-icons">add</i></a></li>
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
                <i class="material-icons">star_border</i></a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s2 offset-s1">
      <div class="card" style="width:230px; height:230px;">
        <div class="card-image">
          <img src="assets/images/card1.jpg" class="responsive-img">
        </div>
      </div>
    </div>
    <div class="col s8" style="margin-left:30px;">
      <div class="hreview-aggregate">
        <div class="row" style="margin-bottom:0px; margin-top:100px;">
          <div class="col s12 pull-s1">
            <h5 id="title" style="margin-left:45px; margin-bottom:0px; margin-top:0px;"> Baked Alaska </h5>
          </div>
          <div class="col s12 pull-s1">
            <p style="margin-left:45px; margin-top:0px;"> Posted by <a href="#"> Username </a> </p>
          </div>
          <div class="col s5 pull-s1">
            <a href="#" style="margin-left:90px; margin-bottom:0px;"> Reviews </a>
          </div>
        </div>
        <div class="row" style=" margin-top:0px">
          <div class="col s12">
            <meta itemprop="worstRating" content="1">
            <meta itemprop="bestRating" content="5">
            <meta itemprop="reviewCount" content="1">
            <div class="row">
              <div class="rating-stars col s12">
                <input type="radio" name="stars" id="star-null">
                <input type="radio" name="stars" id="star-1" saving="1" data-start="1" checked="">
                <input type="radio" name="stars" id="star-2" saving="2" data-start="2" checked="">
                <input type="radio" name="stars" id="star-3" saving="3" data-start="3" checked="">
                <input type="radio" name="stars" id="star-4" saving="4" data-start="4" checked="">
                <input type="radio" name="stars" id="star-5" saving="5" checked="">
                <section>
                  <label for="star-1">
                  <svg width="20" height="20" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                  </svg>
                </label>
                  <label for="star-2">
                 <svg width="20" height="20" viewBox="0 0 51 48">
                   <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                  </svg>
                </label>
                  <label for="star-3">
                  <svg width="20" height="20" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                  </svg>
                </label>
                  <label for="star-4">
                  <svg width="20" height="20" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                  </svg>
                </label>
                  <label for="star-5">
                 <svg width="20" height="20" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                 </svg>
                </label>
                </section>
              </div>
              <div class="reviews-stats col s8 pull-s4" style="margin-left:35px">
                <span class="reviewers-small"></span>
                <span class="reviews-num"> 1  </span> total
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s1">
        <p style="font-size:16px; margin-top:0px;"> Like this Recipe? Add to your favourites
          <a class="btn-floating btn-medium waves-effect waves-light yellow">
             <i class="material-icons">star_border</i></a>
        </p>
      </div>
    </div>
  </div>


  <div class="container">
    <h5 class="left-align"> Recipe </h5>
    <div id="Ing" class="col s6 ">
      <p style="font-size:18px"> Ingredients </p>
      <p id="ingred"> Ingredients info </p>
    </div>
    <div id="Ins" class="col s6">
      <p style="font-size:18px"> Instructions </p>
      <p id="instruct"> Instruction info </p>
    </div>
  </div> <br>
  <div class="container">
    <br> <br>
    <h5 id="rev" class="blue-text"> Reviews </h5>
    <div class="row">
      <div class="col s8">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="assets/images/profilepic.png" alt="" class="circle">
            <span class="title"> <a href="#"> Title </a></span>
            <p> User comment </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <p> Add a comment to review this recipe </p>
    <div class="row">
      <form class="col s6">
        <div class="input-field ">
          <label for="cmt"> Review: <i class="material-icons left">mode_edit</i></label>
          <input placeholder="Comment" type="text" id="cmt" class="validate"> </input>
        </div>
        <div class="right-align">
          <button class="btn grey" type="button"> Review </button>
        </div>
      </form>
    </div>
  </div>


  <footer class="page-footer light-pink">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="pink-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
