<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <style>
    body {
      background: url("assets/images/bgd.jpeg");
      background-size: cover;
    }
  </style>
</head>

<body class="lime lighten-5">
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper ">
      <a id="logo" href="#" class="left brand-logo">More-Recipes</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
            <i class="material-icons">add</i></a></li>
        <li><a class="btn-floating btn-medium waves-effect waves-light grey">
                <i class="material-icons">star_border</i></a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Add</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br> <br>
    <h4 class="center-align grey-text text-darken-3"> Sign In / Register </h4> <br> <br>
    <div class="container z-depth-3 white">
      <div class="row">
        <div class="col s12">
          <ul class="tabs ">
            <li class="tab col s6"> <a href="#signup" class="teal-text ">  Create User </a> </li>
            <li class="tab col s6"> <a href="#signin" class="teal-text ">  Sign In </a> </li>
          </ul>
        </div>

        <div class="row ">
          <div id="signin">
            <form class="col s4 offset-s4">
              <div class="input-field ">
                <label for="email"> Email: </label>
                <input type="email" id="email" class="validate"> </input>
              </div>
              <div class="input-field ">
                <label for="pwd"> Password: </label>
                <input type="password" id="pwd" class="validate"> </input>
              </div>
              <div class="right-align">
                <button class="btn grey" type="button"> Sign In </button>
              </div>
            </form>
          </div>

          <div id="signup">
            <form class="col s4 offset-s4">
              <div class="input-field ">
                <label for="fname"> First Name: </label>
                <input type="text" id="fname" class="validate"> </input>
              </div>
              <div class="input-field ">
                <label for="sname"> Surname: </label>
                <input type="text" id="sname" class="validate"> </input>
              </div>
              <div class="input-field ">
                <label for="email"> Email: </label>
                <input type="email" id="email" class="validate"> </input>
              </div>
              <div class="input-field ">
                <label for="pwd"> Password: </label>
                <input type="password" id="pwd" class="validate"> </input>
              </div>
              <div class="right-align">
                <button class="btn grey" type="button"> Create </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> <br> <br> <br> <br>
  </div>





  <footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="teal-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
