<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>More-Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <style>
    body {
      background: url("assets/images/bgd2.jpg");
      background-repeat: no-repeat;
      background-position: 0px 7%;
      background-size: 1500px 440px;
    }
  </style>
</head>

<body class="lime lighten-5">
  <header>
    <ul id="userdrop" class="dropdown-content">
      <li><a href="#!">Sign Out</a></li>
    </ul>
    <nav class="teal lighten-2" role="navigation">
      <div class="nav-wrapper">
        <a id="logo" href="index.html" class="left brand-logo" style="margin-left:2em">More-Recipes</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse left"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="create_recipe.html" class="btn-floating btn-medium tooltipped waves-effect waves-light grey" 
            data-position="bottom" data-delay="50" data-tooltip="Add A Recipe">
            <i class="material-icons">add</i></a></li>
          <li><a href="user_account.html#fave" class="btn-floating btn-medium tooltipped waves-effect waves-light grey"
            data-position="bottom" data-delay="50" data-tooltip="Favorites">
                <i class="material-icons">star_border</i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="userdrop">Username<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="create_recipe.html">Add</a></li>
          <li><a href="#fave">Favourites</a></li>
          <li><a href="#!">Sign Out</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container" style="width:100%; margin: 0 auto;">
      <br> <br>
      <div class="row">
        <div class="col s3 offset-s2">
          <img class="materialboxed responsive-img circle" width="200" src="assets/images/profilepic.png">
        </div>
        <div class="col s7 pull-s1 grey-text text-lighten-2">
          <br> <br> <br>
          <p id="Name"> Name </p>
          <p id="Bio"> Personal Bio </p>
          <p id="status"> Status </p>
        </div>
      </div>
      <div class="row">
        <div class="col s3 offset-s2">
          <div class="file-field input-field">
            <div class="btn waves-effect waves-light grey">
              <span> Upload Photo
              <i class="material-icons left">photo</i> </span>
              <input type="file">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container z-depth-1 white">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"> <a href="#details" class="teal-text ">  My Details </a> </li>
              <li class="tab col s3"> <a href="#chpwd" class="teal-text ">  Change Password </a> </li>
              <li class="tab col s3"> <a href="#recipe" class="teal-text ">  My Recipes </a> </li>
              <li class="tab col s3"> <a href="#fave" class="teal-text ">  My Favourites </a> </li>
            </ul>
          </div>

          <div class="row ">
            <div class="col s12">
              <br> <br>
              <div id="details" class="col s10 offest-s2">
                <form class="col s6 offset-s2">
                  <div class="input-field ">
                    <label for="fname">  Name: <i class="material-icons left">account_circle</i> </label>
                    <input value="Name" type="text" id="name" class="validate"> </input>
                  </div>
                  <div class="input-field ">
                    <label for="email"> Email: <i class="material-icons left">email</i></label>
                    <input value="Email" type="email" id="email" class="validate"> </input>
                  </div>
                  <div class="input-field ">
                    <label for="bio"> Bio: <i class="material-icons left">mode_edit</i></label>
                    <input value="About Me" type="text" id="bio" class="validate"> </input>
                  </div>
                  <div class="input-field ">
                    <label for="stat"> Status: <i class="material-icons left">work</i></label>
                    <input value="Employed / Student" type="text" id="stat" class="validate"> </input>
                  </div>
                  <div class="right-align">
                    <button class="btn grey" type="button"> Update </button>
                  </div>
                </form>
              </div>

              <div id="chpwd" class="col s10 offest-s2">
                <form class="col s6 offset-s2">
                  <div class="input-field ">
                    <label for="olpwd"> Old Password: <i class="material-icons left">lock_outline</i></label>
                    <input type="email" id="olpwd" class="validate"> </input>
                  </div>
                  <div class="input-field ">
                    <label for="npwd"> New Password: <i class="material-icons left">lock_outline</i></label>
                    <input type="password" id="npwd" class="validate"> </input>
                  </div>
                  <div class="right-align">
                    <button class="btn grey" type="button"> Sign In </button>
                  </div>
                </form>
              </div>

              <div id="recipe" class="col s10 offest-s2">
                <div class="col s6 offset-s2">
                  <a href="create_recipe.html" class="btn waves-effect waves-light grey"> Add Recipe
                    <i class="material-icons left">add</i></a>
                </div>
                <div class="col s12 offest-s4">
                  <br>
                  <div class="divider"></div>
                </div>
                <div id="myrecipe" class="col s10 offset-s1">
                  <br>
                  <div class="col s12">
                    <ul id="userlist" class="collection">
                      <li class="collection-item">
                        <a href="crud_recipe2.html"> Jollof Rice </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="fave" class="col s10 offest-s2">
                <div id="myfave" class="col s11 offset-s1"> You currently have no Favourites </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Information about the company, how it started, purpose and goal</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Privacy Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="teal-text text-lighten-3">Osaze Edo-Osagie</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

</body>

</html>
