/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


  @import '../../node_modules/react-tabs/style/react-tabs.scss';
 // @import './react-tabs.scss';


body {
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#recipe-body {
  background-image: url("./images/bgd3.jpg");
  background-size: cover;
}

#wrapper {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0 !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#addRecipebody {
  background: url("./images/bgd3.jpg");
  background-repeat: no-repeat;
  // background-position: 115px 0%;
  background-size: cover;
}
.remove-margin-bottom{
  margin-bottom: 0;
}

#homepageBody {
  // background-color: rgb(251, 252, 228);
}

#signup-body {
  background: url("./images/bgd.jpeg");
  background-size: cover;
}

#profile-body {
  background: url("./images/bgd2.jpg");
  // background-color: rgb(251, 252, 228);
  background-repeat: no-repeat;
  background-position: 0px 0%;
  background-size: 1500px 430px;
}
.tabs-styling {
  font-family: sans-serif;
  padding-left: 6em;
}
.dropdown-content{
  right:0 !important;
  left:none !important;
  top:63px !important;
}

.default-droplist {
  display: none !important;
}

.error-message {
  min-height: 5.5em !important;
  font-size: 35px;
}

.dropdown-btn {
  border: 0 !important;
  color: orange;
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
  height: 2.8em;
}

.min-preloader {
  padding-top: 2em !important;
  // min-height: 30em !important;
}

.content-recipes {
  right:0 !important;
  top: 7.5em !important;
  font-size: 18px;
  width: 10em !important;
}

.image-placeholder{
  display: block;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 2px dashed #aaa;
  height: 130px;
  width: 150px;
  .recipe-image{
    height:100%;
    width: 100%;
  }
}

.view-image {
    display: block;
    border: 2px white;
    position: absolute;
    width: 700px;
    top: 8.5em;
    .recipe-v-image{
      height:80%;
      width: 100%;
  }
}

.home-icon {
  color: gold;
}

.home-cards{
  height: 250px;
  width: 230px;
  .image-style {
    height: 180px;
  }
  .home-text-style {
    font-size: 14px;
    color: rgb(0, 184, 184) !important;
  }
}

#r-cmt {
  padding-right: 16px;
  padding-bottom: 1.5em;
  font-size: 14px;
  word-wrap: break-word;
}

.materialboxed.responsive-img.pic-style {
  max-width: 100%;
  height: 300px;
}

.materialboxed.responsive-img.circle.img-style.initialized {
  max-width: 100%;
  height: 215px;
}

.vote-up-style {
  padding-left: 10px !important;
}

.top-style {
  padding-top: 5px;
}

.caps {
  text-transform: capitalize;
}

.bottom-style {
  margin-bottom: 2.5em;
}

.card-buttons {
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding-bottom: 3em !important;
  .icon {
    margin-top: 0;
    padding-left: 2.5em;
  }
}

.reviews-style {
  padding-left: 5em !important;
  .text2 {
    padding-left: 3em !important;
  }
  .text3 {
    padding-left: 2em;
  }
}

.text1 {
  padding-left: 4.5em !important;
}


.text-recipe {
  padding-top: 5em;
}

.flex-container {
  display: flex;
  padding-top: 4em;
  .text-flex {
    padding-top: 2em;
  }
}

.review-list {
  font-size: 12px;
  font-style: italic;
}

.review-title {
  text-transform: capitalize;
  font-weight: bold;
  word-wrap: break-word;
}

.card.right {
  width: 500px;
  height: 300px;
}

.text-style {
 margin-left: 5em
}

#instruct {
  word-wrap: break-word;
}

.flex-container-homepage {
  display: flex;
  flex-wrap: wrap !important;
}

.div-pointer {
  color: #ffb340 ;
  cursor: pointer;
}

.div-pointer2 {
  color: rgb(0, 161, 161);
  cursor: pointer;
}

.nav-color {
  background-color: #af9c1d;
}

.recipe {
  font-size: 18px;
  margin-bottom: 0;
}

.r-ingredients {
  word-wrap: break-word;
}

.title {
  padding-top: 4em !important;
}
.creator {
  padding-top: 3em !important;
}

.top {
  margin-top: 1.5em !important;
}

.no-top {
  margin-top: 0;
}

.half-top {
  padding-top: 0.5em;
}

.review-section {
  padding-left: 7em !important;
  padding-top: 1em !important;
}

.add-padding {
  padding-left: 2em;
  padding-top: 2em;
}

.form-padding {
  padding-top: 5em !important;
  padding-bottom: 2em !important;
  .inner {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.error-text {
  font-size: 16px;
}

.error-text2 {
  font-size: 13px;
  margin-left: 1em
}

.full-container {
  width: 100%;
  margin: 0 auto;
  min-height: 18em !important;
}

.one-top {
  padding-top: 1em;
}

.two-down {
  padding-bottom: 2em;
}

.title-details {
  margin-top: 0 !important;
  text-transform: capitalize !important;
}

.slide-pad{
  padding-top: 8.5em;
}

.slide-text {
  font-size: 30px;
}

.loader-style {
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-style {
  margin-top: 3em;
  margin-bottom: 3em;
}

// .img-style {
//   width: 200px !important;
// }
